<footer class="aw-footer">
  <div class="footer-container">

    <!-- العمود الأول: اللوجو + السوشيال -->
  <div class="footer-col footer-brand">
  <a href="index.html">
    <img src="img/logo.png" class="footer-logo">
  </a>

  <div class="footer-social">
    <a href="https://www.instagram.com/awphotography94/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/anotherworldphotography/"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.facebook.com/groups/AnotherWorld.Photography.m"><i class="fas fa-users"></i></a>
    <a href="https://www.tiktok.com/@anotherworldphotography"><i class="fab fa-tiktok"></i></a>
    <a href="https://x.com/awphotography94"><i class="fab fa-twitter"></i></a>
  </div>
</div>

    <!-- العمود الثاني: روابط سريعة -->
    <div class="footer-col">
      <h3 class="footer-title">روابط سريعة</h3>
      <ul class="footer-links">
        <li><a href="gallery-all.html">معرض الصور</a></li>
        <li><a href="book.html">احجز معنا</a></li>
        <li><a href="privacy.html">سياسة الخصوصية</a></li>
      </ul>
    </div>

    <!-- العمود الثالث: من نحن + اتصل بنا -->
    <div class="footer-col">
      <h3 class="footer-title">معلومات</h3>
      <ul class="footer-links">
        <li><a href="about.html">من نحن</a></li>
        <li><a href="contact.html">اتصل بنا</a></li>
      </ul>
    </div>

    <!-- العمود الرابع: تواصل معنا -->
    <div class="footer-col">
      <h3 class="footer-title">تواصل معنا</h3>
      <ul class="footer-contact">
        <li>
          <a href="https://wa.me/201146708455" target="_blank">
            <i class="fab fa-whatsapp"></i> 8455 670 114 20+  
          </a>
        </li>
    <li>
       <a class="footer-email" href="mailto:info@anotherworldphotography.com">
        <i class="far fa-envelope"></i>
        <span>info@anotherworldphotography.com</span>
      </a>
    </li>


        <li><i class="fas fa-map-marker-alt"></i> القاهرة – مصر</li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    جميع الحقوق محفوظة © Another World Photography 2026
  </div>
</footer>

<section class="secure-payment">
  <h3 class="secure-title">طرق الدفع الآمنة</h3>

  <div class="secure-logos">
    <img src="img/payments/cash.png" alt="Cash">
    <img src="img/payments/visa.png" alt="Visa">
    <img src="img/payments/mastercard.png" alt="MasterCard">
    <img src="img/payments/instapay.png" alt="Insta Pay">
    <img src="img/payments/paypal.png" alt="PayPal">
  </div>
</section>
