<!-- شريط التصفح -->
  <header class="navbar">
<!-- زرار الموبايل (Hamburger) -->
  <button class="nav-toggle" type="button" aria-label="فتح القائمة" aria-expanded="false">
    <span></span><span></span><span></span>
  </button>

    <div class="logo">
  <a href="index.html">
    <img src="img/logo.png" alt="Another World Logo">
  </a>
</div>


    <nav>
      <a href="index.html">الرئيسية</a>

      <div class="dropdown">
        <span>معرض الصور</span>
        <div class="dropdown-menu">
          <a href="gallery-architecture.html">معماري</a>
          <a href="gallery-portrait.html">بورتريه</a>
          <a href="gallery-street.html">شارع</a>
          <a href="gallery-wildlife.html">الحياة البرية</a>
          <a href="gallery-landscape.html"> الطبيعة</a>
          <a href="gallery-fineart.html">الفن التشكيلي</a>
          <a href="gallery-events.html">مناسبات</a>
          <a href="gallery-product.html">منتجات</a>
        </div>
      </div>

      <div class="dropdown">
        <span>المسابقات</span>
        <div class="dropdown-menu">
          <a href="competition-theme.html">مسابقة المحاور</a>
          <a href="competition-weekly.html">المسابقة الأسبوعية</a>
        </div>
      </div>

      <div class="dropdown">
        <span>الشراكات</span>
        <div class="dropdown-menu">
          <a href="oppo.html">OPPO</a>
        </div>
      </div>

      <a href="about.html">من نحن</a>
      <a href="photographers.html">المصورين</a>

      <div class="dropdown">
        <span>جولات التصوير</span>
        <div class="dropdown-menu">
          <a href="photowalk-cairo.html">جولة القاهرة</a>
          <a href="photowalk-stwhrv.html"> حصاد الفراولة</a>
        </div>
      </div>
      
      <div class="dropdown book-btn">
        <span>احجز معانا</span>
        <div class="dropdown-menu">
          <a href="book.html"> تصوير مودل</a>
          <a href="book.html">تصوير أفراح</a>
          <a href="book.html">تصوير منتجات</a>
        </div>
      </div>

      
    </nav>
  </header>